[Unit]
Description=My personal assistant daemon

[Service]
WorkingDirectory={ASST_BASE_PLACEHOLDER}
ExecStart=poetry run python3 {ASST_BASE_PLACEHOLDER}/core.py
Restart=on-failure

[Install]
WantedBy=default.target
